/* 水平对齐 两端间距是中间一半 */
.flex-x{
    display: flex;
    justify-content: space-around;
}
/* 水平看起点对齐排列  */
.flex-xf{
    display: flex;
    justify-content: flex-start;
}
/* 水平主轴看起点对齐排列  交叉轴居中排列*/
.flex-xf-yc{
    display: flex;
    justify-content: flex-start;
    align-items:center;
}
/* 水平主轴看居中对齐排列  交叉轴居中排列*/
.flex-xc-yc{
    display: flex;
    justify-content: center;
    align-items:center;
}
/* 垂直对齐 */
.flex-y{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/* 水平居中 */
.flex-xc{
    display: flex;
    justify-content: center;
}
/* 垂直对齐 */
.flex-yc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}